doctype html
html
	head

		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		
		title Owen Chen

		meta(name='description', content='Audio Engineer')
		meta(property='og:type', content='blog')
		meta(property='og:title', content='Owen Chen')
		meta(property='og:description', content='Audio Engineer')
		
		meta(property='og:site_name', content='Owen Chen')


		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')			
		


		link(rel='stylesheet', href='/css/bootstrap.css', type='text/css', media='screen')


		link#jquery-captify-css(rel='stylesheet', href='/cascade/style/jquery.captify-ver=3.9.2.css', type='text/css', media='all')
		link#jquery-jscrollpane-css(rel='stylesheet', href='/cascade/style/jquery.jScrollPane-ver=3.9.2.css', type='text/css', media='all')
		link#jquery-qtip-css(rel='stylesheet', href='/cascade/style/jquery.qtip-ver=3.9.2.css', type='text/css', media='all')
		link#jquery-nivo-slider-css(rel='stylesheet', href='/cascade/style/jquery.nivo-slider-ver=3.9.2.css', type='text/css', media='all')
		link#jquery-fancybox-css(rel='stylesheet', href='/cascade/style/fancybox/jquery.fancybox-ver=3.9.2.css', type='text/css', media='all')
		link#google-font-open-sans-css(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300&ver=3.9.2', type='text/css', media='all')
		link#cascade-custom-css-css(rel='stylesheet', href='/cascade/style/custom_styles-ver=3.9.2.css', type='text/css', media='all')			

		script(type='text/javascript', src='/cascade/js/main-ver=3.9.2.js')
		script(type='text/javascript', src='/cascade/js/cascade_contact_form-ver=3.9.2.js')
		script(type='text/javascript', src='/cascade/js/cascade_comment_form-ver=3.9.2.js')		





		link(rel='stylesheet', href='/cascade/style.css', type='text/css', media='screen')

		
		script(type='text/javascript', src='/cascade/js/jquery.ba-bqq.min-ver=3.9.2.js')
		script(type='text/javascript', src='/cascade/js/jquery.easing-ver=3.9.2.js')
		script(type='text/javascript', src='/cascade/js/jquery.captify-ver=3.9.2.js')
		script(type='text/javascript', src='/cascade/js/jquery.blockUI-ver=3.9.2.js')
		script(type='text/javascript', src='/cascade/js/jquery.bxSlider-ver=3.9.2.js')
		script(type='text/javascript', src='/cascade/js/jquery.qtip.min-ver=3.9.2.js')
		script(type='text/javascript', src='/cascade/js/jquery.fancybox-ver=3.9.2.js')
		script(type='text/javascript', src='/cascade/js/jquery.mousewheel-ver=3.9.2.js')
		script(type='text/javascript', src='/cascade/js/jquery.jScrollPane-ver=3.9.2.js')
		script(type='text/javascript', src='/cascade/js/jquery.nivo.slider-ver=3.9.2.js')
		script(type='text/javascript', src='/cascade/js/jquery.isotope.min-ver=3.9.2.js')


		link(href='/css/siteStyle.css', rel='stylesheet')
		link(href='/fonts/customFonts.css', rel='stylesheet', type='text/css')
		link(href='/fonts/open-sans.css', rel='stylesheet', type='text/css')  
		link(href='/css/animate.css', rel='stylesheet')                                                    			
		//- script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&ver=3.9.2')	


		link(href='/css/slick.css', rel='stylesheet')
		link(href='/css/animate.css', rel='stylesheet')

		link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')





	
	body.home.blog.custom-background.cascade_light.sandpaper




		.header.main.box-center.animated.fadeIn._1
			.layout-header.clear-fix.overflow-fix
				.layout-header-left
					a.header-logo-link(href='/')
					h1
						| Owen Chen
					h5
						i Fusion Guitarist, Audio Engineer, CompSci &amp; CogSci @ UCBerkeley.
				.layout-header-right
					ul.no-list.header-menu
						li.header-menu-download
							a(href='http://www.github.com/browenchen', target='_blank') Github
						li.header-menu-mail
							a(href='mailto:owenchen@berkeley.edu') Send email	


			#topNav.animated.fadeIn._2
				ul
					li 
						img.img-thumbnail.img-responsive(src="/img/sunrise.jpg", style="border-radius: 9999px;")
						br
						a(href="/bio") About
					li 
						img.img-thumbnail.img-responsive(src="/img/guitarz.jpg", style="border-radius: 9999px;") 
						br
						a(href="/portfolio") Portfolio
					li 
						img.img-thumbnail.img-responsive(src="/img/drumset.jpg", style="border-radius: 9999px;") 
						br
						a(href="/") Music
					li 
						img.img-thumbnail.img-responsive(src="/img/bike.jpg", style="border-radius: 9999px;") 
						br
						a Blog
	
		.content.bodyMain.box-center.jumbotron.animated.fadeIn._2(style="font-size: 125%; height: 75%;")
			
			h1(style="text-align: center;") Programming Projects
			h4(style="text-align: center;") Currently under Construction
			hr
			.row
				br
				.col-sm-3
					img.img-thumbnail.img-responsive(src='', style="height: 350px; border-radius: 15px;")
				.col-sm-9
					h2 Adaptive Learning Algorithms
					h3
						a(href="https://github.com/BrowenChen/EducationAlgorithms/tree/master/THEALGORITHMS") Link
					h4 I’ve been obsessed with the idea of learning optimization for a while. Concepts such as speed-reading, mnemonic memory training techniques, cognitive psychology and biology of memory, and the idea that technology can truly revolutionize the way we think and learn in the next decade. 
					h4 Essentially, spaced repetition, item response theory, and computerized adaptive testing are all methods of achieving a  personalized, tailor learning experience. You can read more about the details and how it all works 
						a(href="http://github.com/browenchen") here
					h4 A large part of my decision to work in London at an EdTech company was for this opportunity to try and make an impact in an early stage startup by working on technology I’ve been fascinated with, as well as simultaneously fulfilling my wanderlust in a foreign country for a second summer. Integrating the adaptive algorithms module into the backend SDK’s was one of my tasks for this past summer, and I set up a demo web server to demonstrate the algorithms as well as small web apps to go along with them. 
					h4 On the technical side of things, you can read up more about it here, but it was primarily coded up with a NodeJS backend, AngularJS/javascript front end with Jade and CSS. The algorithms were based of SuperMemo’s SM-2, and other findings in research papers. 
			hr
			.row
				br
				.col-sm-3
					img.img-thumbnail.img-responsive(src='', style="height: 350px; border-radius: 15px;")




				.col-sm-9
					h2 LearningHub Teacher Dashboard
					h4 This was another side project that I developed over the summer, although it has a lot more work to be done on it (especially the UI). Essentially, this is the MVP of the live dashboard that teachers will use to monitor, track, and update their students. Again, this was with NodeJS, AngularJS, and web sockets for the live analysis.  It was integrated for use by the end of the summer by Code Kingdoms, an RPG game used to teach kids to code. 
					h4 One demo app that we were testing on iPad classrooms sends live data which was successfully displayed on these dashboards, and Angular was used for the various sorting and analysis options. 
			hr
			.row
				br
				.col-sm-3
					img.img-thumbnail.img-responsive(src='', style="height: 350px; border-radius: 15px;")

				.col-sm-9
					h2 Avocado
					h4 This was a fun one. 4 hours left at an Evernote Hackathon, my original team fell apart on me and my buddy Josh and we were essentially left with nothing. We ended up goofing off and coming up with as many dumb and random ideas as we can, and we happened upon an idea of spoofing up essays to make them sound more complex, intelligent, and impressive. We played around with the Evernote API for the hackathon, so we knew we could create an app that lets you input a blob of text and spit out a cool sounding essay that syncs with your evernote. Thus, Avocado was born.
					h4 Essentially, it uses python’s NLPK to parse through the text and extract the adjectives of the words. Then it searches through a thesaurus database to find the longest and most complex word’s to substitute. Josh did the python scripting in the backend and I focused on hacking together a demo app in Angular for the presentation. It turned out to be a pretty cool idea that can be further expanded on (like personalize essay analysis / class note taking where you input words and it automatically makes flashcards for you). 
					h4 We didn’t win with our short hack, but we sure got the most laughs in the audience





			.row
				br
				.col-sm-3
					img.img-thumbnail.img-responsive(src='', style="height: 350px; border-radius: 15px;")

				.col-sm-9
					h2 Image2Music
					h4 This was a fun project built in my Music 158 class, which was computational music. Throughout the course semester, we worked with synthesized sounds to create various plugins and sounds, and my final project was a “one-man-band” type themed image to music app. 
					h4 The backing track was created through a single 440 Hz sine wave, which was expanded into major, minor, and harmonic minor scales based on mathematical calculations for the frequencies. Then I assigned the intervals to each note, and created a simple ii V i progression using chords with the tones. 
					h4 Next up, I extracted all the RGB pixel data into a matrix, and was able to iterate through the values, scaling each number into a certain MIDI frequency within a chosen scale, producing diatonic notes that didn’t just sound like random noise. Lastly, just for kicks, I added in a vocoder feature that took a sample of my voice, and manipulated the pitch frequency with my MIDI control, allowing me to solo over my rough track. It was a pretty fun intro to computerized music.

			.row
				br
				.col-sm-3
					img.img-thumbnail.img-responsive(src='', style="height: 350px; border-radius: 15px;")					
				.col-sm-9
					h2 JazzHub

					h4 This is a semi completed project that I intend to expand a lot on. Currently, it’s a jazz analysis and practice generator, which includes features such as harmonic analysis of a phrase, random etude generator, and a reference for which chords/modes can be used where
					h4 Currently written in python, but I have plans to create a dashboard like hub where musicians can track progress and use these web apps for their practice. 


			.row 
				br
				.col-sm-6
					h2(style="text-align: center;") Random Misc Hacks
					h3 MemTrain
					h4 I do random stuff here and there, like a memory training app to help someone learn the Dominic O’ Brien system of memory memorize a ton of numbers, and scripts for Anki ( a spaced repetition flashcard software for learning). 
					br
					h3 SuckInTheKnowledge
					h4 Sort afternoon hack using Node's NLP Module. Takes in a PDF and classifies the most important topic words for each chapter


				.col-sm-6
					h2(style="text-align: center;") Current Projects

					h3 IBM Watson Cognitive Computing 
					h4 I’m also in the early stages of a cognitive computing project that uses IBM Watson’s developer API to create software to help intelligently use medical data as a part of an application-based business course here at Cal. Winning group gets to go compete in New York, and I’m pretty stoked with the content of the course.  

					br

					h3 MusicHub
					h4 An expansion of JazzHub, which hopefully provides a command center dashboard for musician's resources. Currently working with cs^5, a jazz trio I'm in as well as two other CS majors.


		.content.bodyMain.box-center.jumbotron.animated.fadeIn._2(style="font-size: 125%; height: 75%;")
			
			h1(style="text-align: center;") Music Projects
			hr
			h4(style="text-align: center;") Currently in progress

			.row 
				br
				.col-sm-6
					h2(style="text-align: center;") Currently Working On
					h3 DashBerlin EDM / Fusion Guitar Remix
					h4 Getting adjusted with Massive Synths, programming MIDI through Sibelius, and sound design. 
					br
					h3 Bebop / Jazz / Fusion
					h4 Just getting in the woodshed to get the bebop language under my fingers. It's tough.


				.col-sm-6
					h2(style="text-align: center;") Past Projects

					h3 Youtube Videos
					h4 One-Man-Band style arrangements of songs. 2,000,000+ total video views through 40 videos and 7k+ subscribers.

					br

					h3 SDYAS Cannon Rock
					h4 Solo guitar performance with San Diego Young Artist Symphony playing a rock version of Canon In D for a pop concert.




		.footer.animated.fadeIn._4
			hr.footer-line
			.main.box-center.layout-footer.clear-fix.overflow-fix
				
				
				.layout-footer-left.latest-tweets
					#latest-tweets
						ul
							li
								p
									| Web Design - Owen Chen  © 2014
									
									
							

			
				.layout-footer-right
					ul.no-list.social-list
						li Connect
						li
							a.social-soundcloud(href='')
						li
							a.social-linkedin(href='')
						li
							a.social-twitter(href='')
						li
							a.social-facebook(href='')


		script(src='/js/slick.js', type='text/javascript')
		script. 

			$('.single-item').slick({

				autoplay: true,
				dots: true

				});



			$('.multiple-items').slick({
			infinite: true,
			slidesToShow: 3,
			slidesToScroll: 2,
			arrows: true,
			dots: true,

			focusOnSelect: true
			});


