
.container
	br
	br		
	
	


	#test.well(style="width:40%; border-radius:15px; opacity: .7; background-color:#5A79A5;")
		.row
			.col-sm-4
				br
				br
				img.img-circle(src="/img/npm.png", style="width:80%; height: 50%;")
			.col-sm-8
				h1 About
				p Put a little blurb thing here				
		hr
		.row
			.col-sm-8.col-sm-off
				input(type="text", ng-model="yourName", placeholder="enter a name")
				br
				br
				p hello {{yourName}}! {{test}} controller


