doctype html
html(ng-app='myApp')
	head
		title Owen Chen
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='description', content='')
		meta(name='keywords', content='')


		script(src="https://code.angularjs.org/1.2.1/angular.js")
		script(src="https://code.angularjs.org/1.2.3/angular-route.js")
		script(src="https://code.angularjs.org/1.2.3/angular-resource.js")
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

		//- script(type='text/javascript', src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js')
		//- link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css')
		link(href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css')			
		script(src='/js/jquery.min.js')
		script(src='/js/jquery.scrolly.min.js')
		script(src='/js/jquery.poptrox.min.js')
		script(src='/js/skel.min.js')
		script(src='/js/init.js')

		script(type='text/javascript', src='/js/angularApp.js')


		//- link(rel='stylesheet', href='/css/all-b.css')

		//- script(type='text/javascript', src='/js/libraries.js')
		//- script(type='text/javascript', src='/js/aprilzero.all.js')


		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Dosis:500')		
		link(rel='stylesheet', href='/css/overflow/skel.css')
		link(rel='stylesheet', href='/css/overflow/style.css')
		link(rel='stylesheet', href="/css/testStyle.css")


		//- Owl carousel
		link(rel="stylesheet", href="/css/owl.carousel.css")
		link(rel="stylesheet", href="/css/owl.theme.css")
		link(rel="stylesheet", href="/css/owl.transitions.css")
		script(src="/js/owl.carousel.js")


		//- style.
			.nav{
			display:inline-block
			}	

			.nav li{
			margin: 10px auto;
			padding: 10px;

			display:inline-block;
			float: left;
			}
	body(style="background-image: url(/img/40-blurr_bg.png);font-family: 'Open Sans Condensed', sans-serif;",ng-controller="myCtrl")
				


		//- Nav Bar
		main#page.page.animated.fadeIn._1
			.container
				.navbar.navbar-default
					.navbar-header
						//- .button.navbar-toggle(type="button", data-toggle="collapse")
						//-	.span.sr-only Toggle Nav
						//-	.span.icon-bar
						//-	.span.icon-bar
						//-	.span.icon-bar
						.navbar-brand(href="/")
			h1.logo.home-logo
				span.a
					| O
					span.p
					| w
					span.r
					| e
					span.i
					| n
					span.l
					| C
					span.z
					| h
					span.e
					| e
					span.r2
					| n

					//- .collase.navbar-collapse
					//-	ul.nav.navbar-nav
					//-		li
					//-			a(href="/") Blog		
					//-		li 
					//-			a(href="/") Music
					//-		li 
					//-			a(href="/") Code
					//-		li 
					//-			a(href="/") Contact

			
		//- .container
		//-	.row
		//-		//- .col-sm-4
		//-			//- p(style="text-align:center;") Test
		//-			//- #leftNav
		//-			//-	ul
		//-			//-		li
		//-			//-			a(href='') Fusion Guitarist • Audio Engineer
		//-			//-			br
		//-			//-			.sub.small Jazz, EDM, Rock
		//-			//-		li
		//-			//-			a(href="/test") Coder • Designer
		//-			//-			br
		//-			//-			.sub.small Past, Current, Future
		//-			//-		li
		//-			//-			a(href="/blog") Journal
		//-			//-			br
		//-			//-			.sub.small Books, Ideas, Ramblings




		//-		.col-sm-12
		//-			.div
		//-				.wrapper.col-sm-12(style="opacity:.7")
		//-					//- #page-title
		//-						//- #page-title-inner
		//-							h3
		//-								//- span(style="background-color:inherit;") About
		//-						#page-title-body.row
		//-							.col-sm-4
		//-								p Avatar
		//-								//- p.pic(style="left: 50%;")
		//-									img.displayed.img-circle(src='/img/npm.png', alt='', style="width: 90%;")					
		//-							.col-sm-8
		//-								p Test

		.col-sm-8.col-sm-offset-4

			p(style="text-align: center;") 
			br
			br
			br




		section#header


			ul.sections-nav(style="top:35%;")
				span.selection.cursor-only.animated.fadeIn._2
				li.sport.animated.fadeIn._2
					a.pjax(data-section='sport', href='sport/index.html')
						strong
							| Music
						small
							| Fusion Guitarist &amp; Audio Engineer
				span.selection.cursor-only.animated.fadeIn._3			
				li.explorer.animated.fadeIn._3
					a.pjax(data-section='explorer', href='explorer/index.html')
						strong
							| Code
						small
							| CompSci &amp; CogSci at UCBerkeley




				li.journal.animated.fadeIn._4
					a.pjax(data-section='journal', href='journal/index.html')
						strong
							| Blog
						small
							| Music, Books, Tech &amp;&nbsp;Life				
			//- header
			//-	h1 Test
			//-	p another test
			.rightSide.animated.fadeIn._5

				//- header 
				h1 Latest News
				#rightOwl.owl-carousel.owl-theme 
					.item 
						p Adaptive Learning Algorithms 
						//- small Test

					.item 
						p More content	
					.item 
						p More content	
					.item 
						p More content													

				script.
					$(document).ready(function() {

					$("#rightOwl").owlCarousel({

					navigation : false, // Show next and prev buttons
					slideSpeed : 300,
					paginationSpeed : 400,
					singleItem:true
					});
					});								

				br
				


				#social-area
					
					nav#social
						ul
							li
								a(href='https://twitter.com/Bluxart', title='Follow Me on Twitter', target='_blank') 
									span.font-icon-social-twitter
							li
								a(href='http://dribbble.com/Bluxart', title='Follow Me on Dribbble', target='_blank') 
									span.font-icon-social-dribbble
							li
								a(href='http://forrst.com/people/Bluxart', title='Follow Me on Forrst', target='_blank') 
									span.font-icon-social-forrst
							li
								a(href='http://www.behance.net/alessioatzeni', title='Follow Me on Behance', target='_blank') 
									span.font-icon-social-behance


		
			footer.animated.fadeIn._6
				a.button.style2.scrolly.scrolly-centered(href='#banner', style="left: 0px;") About Me




		

		section#banner
			.about-content
				.row.fancy-head
					h1 Welcome to my lair



				.fancy-header
					h1
						| Welcome to my site
					h2
						| ASDASASDASDASDSA

				.personal-info
					.container
						.mri
						.text
							p
								| Hi, This is my personal info page


			header
				h2 This is Overflow
			p
				| Test
				
			footer
				a.button.style2.scrolly(href='#first') Act on this message
		





		article#first.container.box.style1.right
			a.image.fit(href='#')
				img(src='/img/pic01.jpg', alt='')
			.inner
				header
					h2
						| Lorem ipsum
						br
						| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;dolor sit amet
				p
					| Tortor faucibus ullamcorper nec tempus purus sed penatibus. Lacinia pellentesque eleifend vitae est elit tristique velit tempus etiam.
		article.container.box.style1.left
			a.image.fit(href='#')
				img(src='/img/pic02.jpg', alt='')
			.inner
				header
					h2
						| Mollis posuere
						br
						| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;lectus lacus
				p
					| Rhoncus mattis egestas sed fusce sodales rutrum et etiam ullamcorper. Etiam egestas scelerisque ac duis magna lorem ipsum dolor.

		br
		br
		.container.text-center(style="color:silver;")
			div  © 2014 Owen Chen

			div
				strong Personal 
				| Porfolio

			div

		br				
